body {
  background-color: #f8f8f8;
}
.error-wrap {
  height: 377px;
}
.error-wrap .icon-img {
  margin: 60px auto;
  width: 435px;
  height: 279px;
  position: relative;
}
.error-wrap .ico-404 {
  background: url(../images/dahua-bg404.png) no-repeat;
}
.error-wrap .ico-500 {
  background: url(../images/dahua-bg500.png) no-repeat;
}
.error-wrap a.a-link {
  position: absolute;
  top: 208px;
  left: 50px;
  color: #68544c;
  text-decoration: none;
}
.error-wrap a.a-link:hover {
  text-decoration: underline;
}
