/*footer start*/
.footer {
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
}
.footer .copyright {
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  color: #666;
}
/*footer end*/
