@import './publess';

@import url('reset');
@import url('head');


//login
.login-wrapper{
	width: 100%;
	margin: 60px auto;
}
.login-content{
	max-width: 960px;
}
.login-banner{
	text-align: center;
}
.login-box{
	width: 360px;
	padding: 32px 24px;
	margin-left: auto;
	margin-right: auto;
	border:solid 1px @theme-color;
}

@import url('footer');
